@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Montserrat:ital,wght@1,500&display=swap');
/* Universal */
* {
  box-sizing: border-box;
  margin: 0;
}

/* All buttons and selects */
button, select {
  cursor: pointer;
  font-family: monospace;
  letter-spacing: 1px;
}

/* Backgrounds and colors of main pages */
.home.dark,
.roster.dark,
.details.dark,
.comparison.dark {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: wheat;
}

.home.light,
.roster.light,
.details.light,
.comparison.light {
  background-color: hwb(233 80% 5% / 0.425);
}

/* Nav and footer */
.nav {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid black;
}

.nav.dark, .footer.dark {
  background-image: linear-gradient(to right, #554c4c 0%, rgb(17, 16, 16) 100%);
  color: white;
}

.nav.light, .footer.light {
  background-color: hwb(234 52% 22% / 0.425);
  color: black;
}

.nav--links {
  background-color: transparent;
  margin: 10px 5px;
  padding: 10px 5px;
  font-size: x-large;
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.dark .nav--links {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  height: auto;
  font-family: monospace;
}

.footer > p {
  margin: 20px;
  font-size: 20px;
}

/* Theme button */
.toggleBtn {
  font-size: 2rem;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  border: none;
}

.light .toggleBtn{
  color: darkgreen;
}

.dark .toggleBtn {
  color: orange;
}

/* Home page */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  height: auto;
}

.main--title {
  font-family: monospace;
  font-size: 50px;
  padding: 10px 0;
  color: brown;
  letter-spacing: 1px;
}

.home--label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-family: monospace;
  letter-spacing: 1px;
  padding: 10px 0 ;
}

.home--team--select {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin: 20px 0;
  font-family: monospace;
  cursor: pointer;
}

.selected--team--info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected--team--info h2 {
  font-size: 36px;
  font-family: monospace;
  letter-spacing: 1px;
  margin: 20px 0;
}

.selected--team--info p {
  font-size: 28px;
  font-family: monospace;
  letter-spacing: 1px;
  margin: 20px 0;
}

.selected--team--info a {
  text-decoration: none;
  font-family: monospace;
  font-size: 28px;
  margin: 20px 0;
  text-align: center;
}

.selected--team--info a:hover {
  text-decoration: underline;
}

.dark .selected--team--info a {
  color: rgb(0, 255, 0);
}

.light .selected--team--info a {
  color: blue;
}

.roster--button, 
.reset--btn {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.roster--button:hover,
.reset--btn:hover {
  background-color: rgb(255, 175, 175);
}

/* Roster */
.roster {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  letter-spacing: 1px;
  height: auto;
  width: 100%;
}

.roster--title {
  font-family: monospace;
  margin: 10px 0;
  font-size: 30px;
  letter-spacing: 1px;
}

.roster--table {
  width: 100%;
  border-collapse: collapse;
}

.roster--table thead {
  font-style: bold;
  font-size: larger;
}

.roster--table th {
  padding: 10px;
  border: 1px solid #999;
  text-align: left;
}

.roster--table td {
  padding: 10px;
  border: 1px solid #999;
  text-align: left;
}

.roster--table td a {
  color: red;
  text-decoration: none;
}

.roster--table td a:hover {
  text-decoration: underline;
}

.roster--page--btn {
  padding: 10px 20px;
  margin: 10px auto 10px 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.roster--page--btn:hover {
  background-color: rgb(255, 186, 186);
}

/* Player Details */
.details {
  padding: 20px;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: larger;
  height: auto;
  width: 100%;
}

.player--detail--table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.player--detail--table th, 
.player--detail--table td {
  padding: 8px;
  border-bottom: 1px dashed black;
}

.player--detail--table th {
  background-color: #333;
  color: white;
}

/* Player and goalie stats */
.player--stat--table, .goalie--table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.player--stat--table th, 
.player--stat--table td, 
.goalie--table th, 
.goalie--table td {
  padding: 8px;
  border-bottom: 1px dashed black;
}

.player--stat--table th, 
.goalie--table th {
  background-color: #333;
  color: white;
}

.navigate--buttons {
  display: flex;
  justify-content: center;
}

.navigate--buttons button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navigate--buttons button:hover {
  background-color: rgb(255, 181, 181);
}

/* No stats to show in details */
.no--stats {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  height: 25vh;
}

/* Player Comparison Selection */
.comparison, .comparison2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  letter-spacing: 1px;
}

.comparison {
  height: auto;
  min-height: 100vh;
}

.comparison--h1 {
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

.note {
  margin: 20px 0;
  font-size: larger;
  font-style: italic;
  text-align: center;
  color: red;
  font-weight: bolder;
}

.comparison--label--team,
.comparison--label--player,
.team--two--label,
.player--two--label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.player--one--title,
.player--two--title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.team--comparison,
.player--select--comparison,
.team--two--select,
.player--two--select {
  padding: 5px;
  font-size: 14px;
  width: fit-content;
  font-family: monospace;
  letter-spacing: 1px;
}

.comparison--reset,
.compare--reset--two {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.comparison--reset:hover,
.compare--reset--two:hover {
  background-color: darkred;
}

.compare--submit {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}

.compare--submit:hover {
  background-color: darkgreen;
}

/* Player stats shown in comparison */
.comparison--display--one {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.comparison--table--one,
.comparison--table--two {
  border-collapse: collapse;
  width: 100%;
}

.comparison--table--one th,
.comparison--table--two th {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

.light .comparison--table--one th,
.light .comparison--table--two th {
  background-color: lightgray;
}

.dark .comparison--table--one th,
.dark .comparison--table--two th {
  background-color: rgb(37, 90, 131);
  color: wheat;
}

.comparison--table--one td,
.comparison--table--two td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

/* Goalie stats shown in comparison */
.goalie--comparison {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.goalie--table--one,
.goalie--table--two {
  border-collapse: collapse;
  width: 100%;
}

.goalie--table--one th,
.goalie--table--two th {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

.light .goalie--table--one th,
.light .goalie--table--two th {
  background-color: lightgray;
}

.dark .goalie--table--one th,
.dark .goalie--table--two th {
  background-color: rgb(37, 90, 131);
}

.goalie--table--one td,
.goalie--table--two td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

.light .goalie--table--one td,
.light .goalie--table--two td {
  background-color: lightgray;
}

.dark .goalie--table--one td,
.dark .goalie--table--two td {
  background-color: rgb(37, 90, 131);
}

.reset--stats {
  background-color: red;
  margin-top: 30px;
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
}

.reset--stats:hover {
  background-color: darkred;
}

.comparison--to--home {
  margin: 30px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.comparison--to--home:hover {
  background-color: rgb(255, 184, 184);
}

/* Media queries */
@media screen and (max-width: 600px) {
  .home {
    min-height: 220vh;
  }
  .comparison {
    min-height: 100vh;
    padding-bottom: 30px;
  }
  .goalie--comparison {
    padding: 0 10px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .toggleBtn {
    font-family: monospace;
    font-size: 1.15rem;
  }

  .nav--links {
    font-size: 1rem;
  }

  .nav {
    padding: 0;
    height: fit-content;
    max-width: 100%;
  }
  
  .home {
    height: 115vh;
    text-align: center;
  }

  .roster {
    font-size: 11px;
  }

  .goalie--comparison {
    font-size: 10px;
  }
}

@media screen and (min-width: 700px) {
  .comparison--table--one,
  .comparison--table--two {
    width: 250px;
    font-size: larger;
  }
}

@media screen and (max-width: 300px) {
  .nav--links {
    font-size: 14px;
  }

  .toggleBtn {
    font-size: 14px;
  }

  .home {
    text-align: center;
    padding: auto 10px;
  }

  .main--title {
    font-size: 30px;
    margin: 5px 10px;
  }

  .home--label {
    font-size: 24px;
  }

  .home--team--select {
    font-size: 12px;
  }

  .selected--team--info h2 {
    font-size: 19px;
    margin: 5px 10px;
    font-weight: bold;
  }

  .selected--team--info p {
    font-size: 16px;
  }

  .selected--team--info > a {
    font-size: 14px;
  }

  .goalie--comparison {
    font-size: 8px;
    padding: 0 5px;
  }
}
